*.md linguist-detectable
*.qmd linguist-detectable
*.Qmd linguist-detectable
*.rmd linguist-detectable
*.Rmd linguist-detectable

# Exclude `_extensions/` from GitHub language statistics
_extensions/** linguist-vendored