.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
/public/
/resources/

/.quarto/
/_site/
/site_libs/

/talk/
/project/


.hugo_build.lock

/.luarc.json
tool/2024-09-23-SwitchChallenge/js/light-dark-iframe.js
