.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
/public/
/resources/

/.quarto/
/_site/
/site_libs/

/talk/
/project/


.hugo_build.lock

/.luarc.json
CV/*
!CV/CV_Dianyi.tex

**/*.quarto_ipynb
