#form {
  margin-top: 2em;
}

input, textarea {
  background-color: var(--quarto-scss-export-spc-bg-1) !important;
}

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  /* wrap lately section */
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  #form {
    margin-top: 0em;
    flex-basis: 100% !important;
    flex-grow: 1;
  }
}