/*-- scss:defaults --*/

$spc-bg-0: #E3F0EE; // formerly #F5F5F5, #fffcf7, fffbf5
$spc-bg-1:  #f9fffe; // formerly #F5F5F5, #fffcf7, fffbf5
$spc-bg-dark: #5fcbe9; // formerly #EBEBEB, #FBEBDA, FAF0E3, WIP FFF2EB 
$spc-primary: #002642; // formerly #122140, 1C304A, 002642
$spc-primary-light: #2E4963 ; // formerly #475269, 32415A, 2E4963
$spc-secondary: #2C2C2C; // formerly #936C10, 815E0E, b04303
$spc-secondary-light: #D96E34;
$spc-accent: #b9c680;
$spc-accent-light: #EEF1E0;
$spc-accent-dark: #dadec7;